<h1>ジャンル一覧・追加</h1>
<%= form_with model: @genre, local:true do |f| %>
  <h4>ジャンル名</h4>
  <%= f.text_field :name %>
  <%= f.submit '新規登録', class: 'btn btn-success' %>
<% end %>

<table>
  <th>ジャンル</th>
  <% @genres.each do |genre| %>
  <th>
    <tr><%= genre.name %></tr>
  </th>
  <th>
    <tr><%= link_to '編集する', edit_ , class: "btn btn-success" %></tr>
  </th>
  <% end %>
</table>