<h1>注文履歴一覧</h1>
<div class="container m-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-2"></div>
    <h4 class="my-4 "><span style="background-color:#EFEFEF">　注文履歴一覧　</span></h4>
  </div>
  <table class="table col-7 mx-auto">
    <thead class="thead-light">
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>請求額</th>
        <th>注文ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>
    <tbody>
      
    <% @orders.each do |order| %>
      <tr>
        <td><%= l customer.created_at %></td>
        <td><%= order.name %></td>
        <td><%= order.billing_amount %></td>
        <td><%= order.status %></td>
        <td><%= link_to '詳細画面へ', admin_order_path(order), class: "btn btn-info" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<div>