<div class="container">
  <div class="row">
    <div class="mx-auto">

      <br>
      <h1>ジャンル一覧・追加</h1>
      <%= render 'layouts/errors', obj: @genre %>
      <%= form_for @genre, :url => {action:"create"} do |f| %>
        <br>
        <h4>ジャンル名</h4>
        <%= f.text_field :name %>
        <%= f.submit '新規登録', class: 'btn btn-success' %>
      <% end %>


      <% if @genres.exists? %>
        <table>

          <th>ジャンル</th>
          <% @genres.each do |genre| %>
            <br>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to '編集する', edit_admin_genre_path(genre) , class: "btn btn-success" %></td>
            </tr>
            <% end %>
        </table>
      <% else %>
        <br><br>
        <h4>まだジャンルが追加されていません。</h4>
      <% end %>



    </div>
  </div>
</div>
